
        

   input{
    font-style: bold;
  
  color: blue;
  }
  
   
   select{
    font-style: bold;
  
  color: red;
  }



  
  input{

    
      text-align: center;
  }    
  table.responstable tr td th { font-size: 28px; }


  button{
  
  color: #494949 !important;
    text-decoration: none;
    background: #d67ec7;
    border: 2px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  
  }
  
  button:hover {
    color: #ffffff !important;
    background: #fe0457;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
  }
  
  h1{
    text-align: center;
  }
  
  body{
    background-color: rgb(0, 234, 255);
  }
  
  
  
  select{
    padding:5px; 
    border:2px solid rgb(226, 23, 23); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

select:focus{

    border-color:#333;

}  




  input[type=text] {
      padding:5px; 
      border:2px solid rgb(226, 23, 23); 
      -webkit-border-radius: 5px;
      border-radius: 5px;
  }
  
  input[type=text]:focus {
      border-color:#333;
  }
  
  input[type=submit] {
      padding:5px 15px; 
      background:#ccc; 
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px; 
  }

  .frm{

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

  }


  .consult{

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  #nombreT{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  * {font-family: Helvetica Neue, Arial, sans-serif; }

  body { background-image: linear-gradient(rgb(222, 134, 134) 25%, rgb(231, 50, 50));}
  
  h1, table { text-align: center; }
  
  table {border-collapse: collapse;  width: 70%; margin: 0 auto 5rem;}
  
  th, td, th{  padding: 1.5rem; font-size: 1.3rem;}

  
  tr {background: hsl(50, 50%, 80%); }
  
  tr, td { transition: .4s ease-in; } 
  
  tr:first-child {background: hsla(12, 20%, 20%, 0.5); }
  
  tr:nth-child(even) { background: hsla(50, 30%, 40%, 0.7); }
  
  td:empty {background: hsla(50, 25%, 60%, 0.7); }
  
  tr:hover:not(#firstrow), tr:hover td:empty {background: rgb(252, 0, 0); pointer-events: visible;}
  tr:hover:not(#firstrow) { transform: scale(1); font-weight: 700; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}
  
  